.btn{
    color:rgb(255,255,255);
    text-align:left;
    #border-color:rgb(206,149,75);
    border-style:rgb(255,255,255);
    background-color:rgb(206,149,75);
}

.btn:focus{
    border-color:rgb(206,149,75);
    background-color:rgb(239,220,195);
    color:rgb(206,149,75);
    font-weight:bold;
}

.btn:active{
    border-color:rgb(206,149,75);
    background-color:rgb(239,220,195);
    color:rgb(206,149,75);
    font-weight:bold;
}

.btn:hover{
    border-color:rgb(206,149,75);
    background-color:rgb(239,220,195);
    color:rgb(206,149,75);
    font-weight:bold;
}

.btn.lpan{
    color:rgb(255,255,255);
    background-color:rgb(206,149,75);
}

.btn.lpan:focus{
    border-color:rgb(206,149,75);
    background-color:rgb(239,220,195);
    color:rgb(206,149,75);
    font-weight:bold;
}

.btn.lpan:active{
    border-color:rgb(206,149,75);
    background-color:rgb(239,220,195);
    color:rgb(206,149,75);
    font-weight:bold;
}

.btn.lpan:hover{
    border-color:rgb(206,149,75);
    background-color:rgb(239,220,195);
    color:rgb(206,149,75);
    font-weight:bold;
}

.btn.opt{
    color:rgb(255,255,255);
    background-color:#4b84ce;
}

.btn.opt:hover{
    border-color:#4b84ce;
    background-color:#D0DFF2;
    color:#4b84ce;
    font-weight:bold;
}

.btn.btn-secondary.edit{
    background-color:rgb(255,255,255);
    border-color:rgb(206,149,75);
    color:rgb(206,149,75);
    #width:3em;
    #height:2em;
    font-size:12px;
    padding: 5px 9px;
}

.btn.btn-secondary.edit:hover{
    background-color:rgb(239,220,195);
    border-color:rgb(206,149,75);
    color:rgb(206,149,75);
    font-weight:normal;
}

.btn.btn-secondary.delete{
    background:transparent;
    border: none !important;
    #width:3em;
    #height:2em;
    color: #ff6666;
    font-size:12px;
    padding: 0px 0px;
    font-size:20px;
}

.btn.close{
    background:transparent;
    border: none !important;
    color: black;
    font-size:12px;
    padding: 0px 0px;
    font-size:22px;
    position:absolute;
    left:48.5em;
    bottom:7.5em;
}

.total_budget{
    width:1px;
}

.new_input{
    width:110px;
}


hr {
    margin-top:4px;
    margin-bottom:4px;
    border-color:white;
}

lw{
    font-weight:400;
    margin-bottom:0px;
    padding-bottom:0px;
}








.dataTables_wrapper
.dataTables_paginate
.paginate_button{
    background:white !important;
    #border-color:#4b84ce !important;
    color:#4b84ce !important;
}

.dataTables_wrapper
.dataTables_paginate
.paginate_button.current,
.dataTables_wrapper
.dataTables_paginate
.paginate_button.current:hover{
    border-color:white !important;
    color:#4b84ce !important;
    font-weight:bold;
}

.dataTables_wrapper
.dataTables_paginate
.paginate_button:hover{
    #background:#D0DFF2 !important;
    border-color:#4b84ce !important;
    color:#4b84ce !important;
}

.dataTables_wrapper
.dataTables_paginate
.paginate_button:active{
    background-color:white;
}

.dataTables_wrapper
.dataTables_paginate
.paginate_button.disabled{
    color:white !important;
    border:white !important;
}

.dataTables_wrapper
.dataTables_paginate
.paginate_button.disabled:hover{
    color:white !important;
    border:white !important;
}

.dataTables_wrapper
.dataTables_paginate
.paginate_button.disabled:active{
    cursor:default;
    color:white !important;
    border:1px solid transparent;
    background:transparent;
    box-shadow:none}.

.dataTables_info{
    color:#4b84ce !important;
}
